/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #6a727f;
  background-color: #222831;
  overflow-x: hidden;
}

input, button, textarea, select {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  outline: none;
  border: 0;
}

strong {
  font-weight: bold;
}

input {
  line-height: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

section[id] {
  scroll-margin-top: 30px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background: url("../images/img1.jpg") no-repeat top/100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  min-height: 200vh;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  font-weight: bold;
  height: 55px;
  padding: 0 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

.btn-primary {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#f56766), to(#f58826));
  background: linear-gradient(to right, #f56766, #f58826);
}

@media screen and (max-width: 767px) {
  .btn {
    height: 45px;
    padding: 0 50px;
    font-size: 14px;
  }
}

.caption {
  text-transform: uppercase;
  color: #f56766;
  font-weight: bold;
  margin-bottom: 35px;
}

.heading {
  font-size: 36px;
  font-weight: 800;
  color: white;
  line-height: 1.55556;
  margin-bottom: 30px;
}

.heading-big {
  font-size: 60px;
}

.text {
  line-height: 1.88889;
}

.text-big {
  font-size: 24px;
}

@media screen and (max-width: 1023px) {
  .caption {
    margin-bottom: 10px;
  }
  .heading {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .caption {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .heading {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .heading-big {
    font-size: 40px;
  }
  .text-big {
    font-size: 20px;
  }
  body {
    font-size: 16px;
  }
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.header-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 50px;
}

@media screen and (max-width: 1599px) {
  .header-main {
    padding: 20px 0;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 0 50px;
  color: white;
}

.menu-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 1023px) {
  .menu-list {
    display: none;
  }
}

.hero {
  padding: 270px 0 380px;
  color: white;
}

.hero-heading {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 120px;
  margin-bottom: 15px;
}

.hero-caption {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 50px;
}

.hero-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 25px;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1599px) {
  .hero {
    padding: 170px 0 280px;
  }
}

@media screen and (max-width: 1279px) {
  .hero {
    padding: 70px 0;
  }
  .hero-heading {
    font-size: 80px;
  }
  .hero-caption {
    font-size: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .hero {
    padding: 40px 0;
  }
  .hero-heading {
    font-size: 40px;
  }
  .hero-caption {
    font-size: 10px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 40px 0;
  }
  .hero-heading {
    font-size: 20px;
  }
  .hero-caption {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .hero-video img {
    max-width: 40px;
  }
  .hero-video span {
    font-size: 10px;
    color: #282f3a;
  }
}

.feature {
  padding: 150px 0 200px;
}

.feature-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 30px;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #282f3a;
  border-radius: 4px;
  padding: 65px 40px;
}

.feature-icon {
  margin-bottom: 35px;
}

.feature-title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (max-width: 1599px) {
  .feature {
    padding: 100px 0 150px;
  }
}

@media screen and (max-width: 1023px) {
  .feature {
    padding: 50px 0 100px;
  }
  .feature-main {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .feature::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .feature > * {
    scroll-snap-align: start;
  }
}

@media screen and (max-width: 767px) {
  .feature {
    padding-bottom: 50px;
  }
}

.about {
  padding-bottom: 190px;
}

.about .container {
  position: relative;
}

.about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 70px;
}

.about-content {
  max-width: 470px;
}

.about-phone {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: initial;
}

.about-image {
  position: relative;
}

@media screen and (max-width: 1279px) {
  .about {
    padding-bottom: 100px;
  }
  .about-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-content {
    max-width: 500px;
    text-align: center;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding-bottom: 50px;
  }
  .about-image {
    width: 100%;
  }
  .about-phone {
    max-width: 100%;
  }
  .about-phone-under {
    max-width: 300px;
    margin: 0 auto;
  }
}

.work {
  padding-bottom: 190px;
}

.work-header {
  text-align: center;
  max-width: 490px;
  margin: 0 auto 100px;
}

.work-list {
  margin-bottom: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  -ms-grid-rows: 370px 180px 370px;
      grid-template-rows: 370px 180px 370px;
}

.work-item {
  border-radius: 8px;
}

.work-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

.work-item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.work-item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.work-link {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 1599px) {
  .work {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1023px) {
  .work-header {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .work-list {
    -ms-grid-rows: 100px 50px 100px;
        grid-template-rows: 100px 50px 100px;
    margin-bottom: 30px;
  }
}

.experience {
  padding-bottom: 200px;
}

.experience-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 70px;
}

.experience-year {
  position: relative;
  z-index: 2;
  background: url(../images/img7.png) no-repeat 50%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.experience-number {
  font-size: 400px;
  font-weight: 800;
  color: #f56766;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.experience-dots {
  position: absolute;
  right: -20px;
  top: 50%;
}

.experience-content {
  max-width: 470px;
  margin-left: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 1599px) {
  .experience {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1023px) {
  .experience-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px 0;
  }
  .experience-number {
    font-size: 200px;
  }
  .experience-content {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }
}

.partner {
  padding-bottom: 200px;
}

.partner-header {
  margin-bottom: 95px;
  text-align: center;
}

.partner-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.partner-item {
  background-color: #282f3a;
  border-radius: 4px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.partner-item:hover img {
  opacity: 0.5;
}

@media screen and (max-width: 1599px) {
  .partner {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .partner-header {
    margin-bottom: 30px;
  }
  .partner-list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.review {
  margin-bottom: 200px;
}

.review-header {
  max-width: 500px;
  margin: 0 auto 60px;
  text-align: center;
}

.review-item {
  max-width: 840px;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #222831;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 75px 100px 60px;
  position: relative;
}

.review-icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.review-desc {
  color: white;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.review-avatar {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 1599px) {
  .review {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .review-item {
    padding: 50px 250px;
  }
  .review-desc {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .review-avatar {
    width: 40px;
    height: 40px;
  }
}

.contact {
  margin-bottom: -300px;
}

.contact-main {
  padding: 135px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #1E242e !important;
  border-radius: 12px;
  position: relative;
  background: url(../images/img9.png) no-repeat center;
}

.contact-person {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.contact-liquid {
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 70px;
}

.contact-content {
  max-width: 100px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.contact-desc {
  margin-bottom: 60px;
}

@media screen and (max-width: 1023px) {
  .contact {
    margin-bottom: -190px;
  }
  .contact-main {
    padding: 50px 20px;
  }
  .contact-desc {
    margin-bottom: 40px;
    color: white;
  }
}

.footer-top {
  padding: 450px 0px 100px;
  background-color: #282f3a;
}

.footer-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 130px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 40px;
}

.footer-desc {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1.875;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
}

.footer .social-item {
  cursor: pointer;
  color: #6a727f;
}

.footer .social-item:hover {
  color: white;
}

.footer-heading {
  font-size: 18px;
  color: white;
  margin-bottom: 40px;
  font-weight: bold;
}

.footer-links {
  list-style: none;
}

.footer-item {
  margin-bottom: 30px;
}

.footer-link {
  display: inline-block;
  color: #6a727f;
}

.footer-info {
  list-style: none;
  margin-bottom: 40px;
}

.footer-info li {
  margin-bottom: 15px;
  line-height: 1.875;
}

.footer-highlight {
  color: white;
}

.footer-bottom {
  background-color: #222831;
  line-height: 1.6;
}

.footer-bottom a {
  color: white;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.footer-rocket {
  color: white;
  border-radius: 4px;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#f56766), to(#f58826));
  background-image: linear-gradient(to right, #f56766, #f58826);
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

@media screen and (max-width: 1023px) {
  .footer-top {
    padding: 250px 0 100px;
  }
  .footer-main {
    grid-gap: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer-top {
    padding: 250px 0 50px;
  }
  .footer-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px 0;
  }
  .footer-container {
    padding: 35px 15px;
  }
  .footer-rocket {
    width: 50px;
    height: 50px;
    right: 15px;
  }
}
/*# sourceMappingURL=app.css.map */