.about{
    padding-bottom: 190px;
    &-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 70px 0 0;
    }
    &-content{
        max-width: 470px;
    }
}