.about{
    padding-bottom: 190px;
    .container{
        position: relative;
    }
    &-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 70px;
    }
    &-content{
        max-width: 470px;
        flex-shrink: 0;
    }
    &-phone{
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    &-phone-under{
       df
       
        z-index: 1;
    }
    &-image{
        position: relative;
        flex:1;
    }
}