.about{
    padding-bottom: 190px;
    .container{
        position: relative;
    }
    &-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 70px;
    }
    &-content{
        max-width: 470px;
        flex-shrink: 0;
    }
    &-phone{
        position: absolute;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &-phone-under{
        margin-left: auto !important;
    }
    &-image{
        position: relative;
        flex:1;
    }
}