.about{
    padding-bottom: 190px;
    .container{
        position: relative;
    }
    &-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 70px;
    }
    &-content{
        max-width: 470px;
    }
    &-image{
        position: absolute;
        right: 0;
        max-width: 600px;
    }
}