html{
    scroll-behavior: smooth;
}

body{
    font-family:$primary-font;
    font-size: 16px;
    line-height: 1;
    color: $gray-light;
}
input,button,textarea,select{
    font-family: $primary-font;
    font-size: 14px;
    outline: none;
    border:0;
}
input{
    line-height: normal;
}
a{
    color: inherit;
}
section[id]{
    scroll-margin-top: 30px;
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    background-color: $gray-darker;
    background: url("../images/img1.jpg") no-repeat top / 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
main{
    min-height: 200vh;
} 