.contact{
    margin-bottom: -300px;
    &-main{
        padding: 135px 20px;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        text-align: center;
        background-color: $gray-darkest !important;
        border-radius: 12px;
        position: relative;
        background: url(../images/img9.png) no-repeat center;
    }
    &-person{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }
    &-liquid{
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 70px;
    }
    &-content{
        max-width: 100px;
        margin: 0 auto;
    }
    &-desc{
        margin-bottom: 60px;
    }
    @include maxWidth(1023px){
        &-desc{
            margin-bottom: 40px;
        }
    }
}