.experience{
    padding-bottom: 200px;
    &-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-number{
        font-size: 400px;
        font-weight: 800;
        color: $primary-color;
    }
}