.feature{

    &-main{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 30px;
    }
    &-item{
        background-color: $gray-dark;
        width: 350px;height: 400px;
        padding: 70px 0;

    }
}