.feature{

    &-main{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 30px;
    }
    &-item{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        background-color: $gray-dark;
        justify-content: center;
        width: 370px;
        height: 450px;
        border-radius:15px;
    }
}