.feature{

    &-main{
        display: grid;
        grid-template-columns: ;
        grid-gap: ;
    }
    &-item{
        background-color: $gray-dark;
        width: 350px;height: 400px;
        padding: 70px 0;

    }
}