.review{
    &-header{
        max-width: 500px;
        margin: 0 auto 60px;
        text-align: center;
    }
    &-item{
        max-width: 840px;
        margin: 0 auto;
        border-radius: 4px;
    }
}